<div class="dashboard">
  <div class="card">
    <img src="assets/icons/batiment.png" alt="Bâtiment Icon" class="card-icon">
    <div class="card-content">
      <h2>{{ nombreBatiments }}</h2>
      <p>Bâtiments</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/icons/document.png" alt="Document Icon" class="card-icon">
    <div class="card-content">
      <h2>{{ nombreDocuments }}</h2>
      <p>Documents</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/icons/groupe.png" alt="Groupe Icon" class="card-icon">
    <div class="card-content">
      <h2>{{ nombreGroupes }}</h2>
      <p>Groupes</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/icons/ouvrage.png" alt="Ouvrage Icon" class="card-icon">
    <div class="card-content">
      <h2>{{ nombreOuvrages }}</h2>
      <p>Ouvrages</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/icons/actif.png" alt="Actif Icon" class="card-icon">
    <div class="card-content">
      <h2>{{ nombreActifs }}</h2>
      <p>Actifs</p>
    </div>
  </div>
</div>
