<div class="center-container">
<mat-card>
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="assets/TangerMed.jpg" alt="Cover Image">
        
      </div>
    </div>
    <mat-card-content>
      <div class="forms">
        <div class="form-content">
          <div class="signup-form">
            <div class="title">Signup</div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <input matInput type="text" placeholder="Enter your name" formControlName="username" required>
                  <mat-error *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">
                    Username is required
                  </mat-error>
                </div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input matInput type="text" placeholder="Enter your email" formControlName="email" required>
                  <mat-error *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched">
                    Invalid email
                  </mat-error>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
                  <mat-error *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">
                    Password is required
                  </mat-error>
                </div>
                <div class="button input-box">
                  <input mat-raised-button color="primary" type="submit" value="Submit">
                </div>
                <div class="text sign-up-text">Already have an account? <a (click)="navigateToLogin()">Login Now</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
</div>